<!-- views/live.html or perhaps templates/live.html -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>

    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.js"></script>
    <script type="text/javascript" src="http://builds.emberjs.com/release/ember-template-compiler.js"></script>
    <script type="text/javascript" src="http://builds.emberjs.com/release/ember.debug.js"></script>
    <script type="text/javascript" src="http://builds.emberjs.com/release/ember-data.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/app/app.js"></script>
    <title>EECS485</title>
  </head>
  <body bgcolor="#66FFCC">
    <script type="text/x-handlebars" data-template-name="pic">
      <h1>Picture</h1>
      <img src="{{model.picurl}}">
      <br>
      {{#link-to "pic" model.prevpicid}}Previous{{/link-to}}
      {{#link-to "pic" model.nextpicid}}Next{{/link-to}}
      <br>
      <b>Caption: </b>{{input type="text" value=model.caption enter="save"}}
      <h3>{{model.favorites.length}} favorites</h3>
      {{#each model.favorites as |favorite|}}
        {{favorite.username}}
      {{/each}}

      <h3>Comments</h3>
      {{#each model.comments as |comment|}}
        {{comment.username}}
        {{comment.date}}
        {{comment.message}}
        <br/>
      {{/each}}

      {{#comment-submit action=(action "commentSubmit")}}
      {{/comment-submit}}
    </script>

    <script type="text/x-handlebars" data-template-name="components/comment-submit">
      <form {{action action username message on="submit"}}>
        {{#username-input}}
        {{/username-input}}
        Message: {{input type="text" value=message}}
        <button type="submit">Submit</button>
      </form>
    </script>

    <script type="text/x-handlebars" data-template-name="components/username-input">
      Username: {{input type="text" value=username}}
      <p id="usernameError"></p>
    </script>
  </body>
</html>