<!-- /pic -->
{% extends "index.html" %}
{% block content %}
  <div class="text-center">
  <h1>{{album_info[0][1]}}</h1>
  </div>
  <div class="text-center">
  <h3>{{album_info[0][4]}}</h3>

	{% for pic in pic %}

  <img src="/static/images/{{url[0][0]}}"/>


    <!--<p>{{caption[0][0]}}</p>-->
  {% if access == True %}
    <div>
        <b>Caption: </b><input id="caption" />
      </div>
      {% block extrascripts %}
        <script type="text/javascript">
          initCaption("{{pic[0]}}");
        </script>
      {% endblock %}
      <br>
    </div>
  {% endif %}

  <div class="text-center">
    {% for previous in previous %}
    <form action="/ilrj0i/pa3/pic" method="get">
      <input type="hidden" name="op" value="nav">
      <input type="hidden" name="picid" value="{{previous[1]}}">
      <input type="hidden" name="albumid" value="{{previous[0]}}">
      <input type="hidden" name="sequencenum" value="{{previous[3]}}">
      <input type="submit" value="Previous">
    </form>
    {% endfor %}
    {% for next in next %}
    <form action="/ilrj0i/pa3/pic" method="get">
      <input type="hidden" name="op" value="nav">
      <input type="hidden" name="picid" value="{{next[1]}}">
      <input type="hidden" name="albumid" value="{{next[0]}}">
      <input type="hidden" name="sequencenum" value="{{next[3]}}">
      <input type="submit" value="Next">
    </form>
    {% endfor %}
  </div>
  {% endfor %}
{% endblock %}

